body{
    background-color: black;
    color: white;
}
@media screen and (min-width:750px) and ( max-width: 1000px){
    body{
        background-color: blue;
    }
    h1{

        color: red;
        background-color: black;
    }

}