*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    /* color: white; */
}
.nav-bar{
    height: 100px;
    width: 100%;
    /* background-image: linear-gradient(to right, black, red, aqua); */
    background-image: radial-gradient(circle, black, red);
    color: white;
}
h1
{
    line-height: 100px;
   
}
.box{
    height: 200px;
    width: 200px;
    background-image: radial-gradient(circle, black, green, pink);

}